.search-header {
  display: flex;
  height: 40px;
  line-height: 40px;
  background: rgb(242, 56, 77);
  color: #fff;
  font-size: 14px;
}
.search-header-left {
  padding: 0 20px;
}
.search-header-center {
  flex: 1;
  background: #fff;
  border-radius: 15px;
  margin: 5px 0;
  height: 30px;
  line-height: 30px;
}
.icon-search {
  color: #999;
  padding-left: 10px;
}
