.detail-info {
  background: #fff;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
.detail-info-content {
  padding: 10px 0;
}
.detail-info-img {
  width: 100px;
  padding-right: 10px;
}
.detail-info-right h3 {
  color: #000;
  font-size: 16px;
}
.detail-info-right span {
  padding-right: 10px;
}
.detail-info-right i {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url('../../static/img/star.png') no-repeat left top;
  background-size: 14px 14px;
}
.detail-des {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ccc;
  padding: 0 10px;
}