.info {
  color: #666;
  background: #fff;
  margin-bottom: 20px;
}
.info-title {
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}
.info-content {
  padding: 10px;
}